.navbar {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .btn-ghost {
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
